In [5]:
import pathlib as Path
import pandas as pd

In [3]:
MOBILE_DATA_MAIN_DIR = r"C:\Users\SEJC94056\Documents\Linkoping"
REAL_NETWORK_MAIN_DIR = r"C:\Users\SEJC94056\Documents\General Layers\Emme_Processed_Layers"

In [13]:
OD_Raw_Data = pd.read_csv(Path.Path(MOBILE_DATA_MAIN_DIR) / "odm.csv", sep=";")
OD_Raw_Data

,date,hour,origin_zone,destination_zone,people
0,2022-10-03,12,Ryd,Ryd,114
1,2022-10-13,6,Ryd,Ryd,51
2,2022-10-16,7,Ryd,Ryd,7
3,2022-09-27,19,Ryd,Ryd,131
4,2022-09-29,1,Ryd,Ryd,14
...,...,...,...,...,...
438761,2022-10-08,13,Linköpings södra omland,Linköpings södra omland,85
438762,2022-10-08,15,Linköpings södra omland,Linköpings södra omland,17
438763,2022-09-28,18,Linköpings södra omland,Linköpings södra omland,20
438764,2022-10-16,13,Linköpings södra omland,Linköpings södra omland,46
438765,2022-10-15,8,Linköpings södra omland,Linköpings södra omland,23

In [14]:
OD_Raw_Data.columns

Index(['date', 'hour', 'origin_zone', 'destination_zone', 'people'], dtype='object')

In [15]:
# Step 1: Create the datetime column combining 'date' and 'hour'
datetime_col = pd.to_datetime(OD_Raw_Data['date'].astype(str) + ' ' + OD_Raw_Data['hour'].astype(str) + ':00:00')

# Insert 'datetime' column just after 'hour'
hour_idx = OD_Raw_Data.columns.get_loc('hour')
OD_Raw_Data.insert(hour_idx + 1, 'datetime', datetime_col)

In [16]:
# Step 2: Create origin_zone_id dictionary and map
origin_dict = {zone: idx for idx, zone in enumerate(OD_Raw_Data['origin_zone'].unique())}
origin_zone_id_col = OD_Raw_Data['origin_zone'].map(origin_dict)

# Insert 'origin_zone_id' just after 'origin_zone'
origin_zone_idx = OD_Raw_Data.columns.get_loc('origin_zone')
OD_Raw_Data.insert(origin_zone_idx + 1, 'origin_zone_id', origin_zone_id_col)

# Step 3: Create destination_zone_id dictionary and map
destination_dict = {zone: idx for idx, zone in enumerate(OD_Raw_Data['destination_zone'].unique())}
destination_zone_id_col = OD_Raw_Data['destination_zone'].map(destination_dict)

# Insert 'destination_zone_id' just after 'destination_zone'
destination_zone_idx = OD_Raw_Data.columns.get_loc('destination_zone')
OD_Raw_Data.insert(destination_zone_idx + 1, 'destination_zone_id', destination_zone_id_col)

In [18]:
OD_Raw_Data.head()

,date,hour,datetime,origin_zone,origin_zone_id,destination_zone,destination_zone_id,people
0,2022-10-03,12,2022-10-03 12:00:00,Ryd,0,Ryd,0,114
1,2022-10-13,6,2022-10-13 06:00:00,Ryd,0,Ryd,0,51
2,2022-10-16,7,2022-10-16 07:00:00,Ryd,0,Ryd,0,7
3,2022-09-27,19,2022-09-27 19:00:00,Ryd,0,Ryd,0,131
4,2022-09-29,1,2022-09-29 01:00:00,Ryd,0,Ryd,0,14